@media only screen and (max-width: 600px)  {
  
    .navbar {
      background-color: #010d1423;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      align-items: center;
    }
    .navbar .logo {
      height: 50px;
      width: 50px;
      grid-column: 2 / 3;
    }
    .navbar .menu {
      grid-column: 4 / 7;
      display: flex;
    }
    .navbar ul li {
      margin-right: 3em;
      list-style: none;
    }
    .navbar ul li a {
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
    .navbar ul li a:hover {
      color: #fff;
    }
    .navbar .menu-bar {
      display: none;
    }
    
      .navbar {
      position: relative;
    }
    .navbar .menu {
      position: absolute;
      width: 100%;
      height: 70vh;
      display: grid;
      align-items: center;
      background-color:#02385c;
      transform: translateX(170%);
      transition: all 1s;
      margin-top: 34em;
      z-index: 1;
    } 
    .navbar .menu-toggle {
      transform: translateX(70%);
    }  
     
    .navbar .menu-bar {
      display: block;
    }
    .navbar .menu-bar .fas {
      color: #000000;
    }
    .navbar .menu li {
      list-style: none;
      margin: 0 auto;
    }  
    .navbar .menu li a {
      text-decoration: none;
      color: #665e5e;
      font-size: 1.2em;
    } 
    .navbar .menu-bar {
      grid-column: 8 / 10;
      color: rgb(7, 7, 7);
      font-size: 2em;
      cursor: pointer;
      z-index: 1;
    }  
    .hero .info-content {
      z-index: 0;
      grid-column: 2 / 9;
      grid-row: 2 / 12;
    }
    .hero .info-content h1 {
      font-size: 3.5 em;
    }
    .hero .info-content h3 {
      font-size: 1em;
    }

    
    .radio-section {
      grid-template-areas:
      "listen-online social-network"
    }
    .radio-section h2 {
      display: none;
    }
    .radio-section .social-network {
      margin: 0 auto;
    }
    .radio-section .social-network .fab {
      color: #fff;
    }

    .contenedor{
      margin: 2em;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      align-content: space-between;
      grid-gap: 3px;
  }
  .imagenes--galeria{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .imagenes-galeria:nth-child(2){
      grid-column: span 2;
  }
  .imagenes-galeria:nth-child(4){
      grid-column: span 2;
  }
  .imagenes-galeria:nth-child(5){
      grid-column: span 2;
  }
  
  .imagenes-galeria:nth-child(10){
      grid-column: span 2;
  }
  
  }